@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

